[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libs/glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm.git
[submodule "libs/SimpleIni"]
	path = libs/SimpleIni
	url = https://github.com/brofield/simpleini
